*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:pink;
    padding: 30px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
   
}
.logo{
   font-size: 32px;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   background: linear-gradient(to top left,red,blue );
   background-clip:text;
   color:transparent;
}
.nav-link{
   display:flex;
   justify-content: space-between;
   align-items: center;
   gap:20px;
   list-style: none;
    
  
}
.nav-link a{
    text-decoration: none;
    color: red;
    font-size: 32px;
}
.section{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.card{
    background-color: aqua;
    width:400px;
    height: 200px;
    border:none;
    border-radius: 5%;
    padding:50px;
}
@media(max-width: 1473px) {
    .section {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    color: white;
    padding: 15px;
    margin-top: 40px;
}

.footer p {
    margin: 0;
}
